<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.Doric.CarBook"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <activity android:name=".Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="MainActivity">
        </activity>

        <activity android:name=".member.Login"
                  android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".member.Register"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".member.PersonalCenter"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".member.MyInformation"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".member.FindPsd"
                  android:screenOrientation="portrait">
        </activity>

        <activity
                android:name="com.Doric.CarBook.car.CarShow"
                android:label="carShow"
                android:theme="@style/Theme.CarShow"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.Doric.CarBook.member.UserCollection"
                  android:label="userCollection"
                  android:theme="@style/Theme.CarShow"
                  android:screenOrientation="portrait">
        </activity>

        <activity
                android:name="com.Doric.CarBook.search.AlphaShow"
                android:label="@string/app_name"
                android:theme="@style/Theme.CarShow"
                android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.Doric.CarBook.search.Search"
                  android:theme="@style/Theme.CarShow"
                  android:screenOrientation="portrait"
                >

        </activity>
        <activity android:name="com.Doric.CarBook.search.Result"
                  android:theme="@style/Theme.CarShow"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.Doric.CarBook.search.CarListShow"
                  android:theme="@style/Theme.CarShow"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.Doric.CarBook.search.ConditionSearch"
                  android:theme="@style/Theme.CarShow"
                  android:screenOrientation="portrait">
        </activity>
        <!--
        <activity android:name=".car.ImageDetailsActivity">
        </activity>-->
    </application>
</manifest>
